<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/context 
       http://www.springframework.org/schema/context/spring-context-3.0.xsd
       http://www.springframework.org/schema/tx 
       http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">
   
   <!-- _1_1intro.sia.local  -->    
       <bean id="minstrel" class="_1intro.sia.local.Minstrel" />
       <bean id="rescueDamselQuest" class="_1intro.sia.local.RescueDamselQuest"></bean>      
       <!-- aop功能的另一种实现，不灵活，太紧的耦合 -->
       <bean id="braveKnightWithMinstrel" class="_1intro.sia.local.BraveKnightWithMinstrel">
       	<constructor-arg name="quest" ref="rescueDamselQuest"></constructor-arg>
       	<constructor-arg name="minstrel" ref="minstrel"></constructor-arg>
       </bean>      
       <!-- AOP实现 -->
        <aop:config> 
	       	<aop:aspect ref="minstrel"> 
	       	<aop:pointcut id="embark" expression="execution(* *.embarkonQuest(..))" /> 
	       	<aop:before pointcut-ref="embark" method="singBeforeQuest"/> 
	       	<aop:after pointcut-ref="embark" method="singAfterQuest"/> 
	        	</aop:aspect> 
        </aop:config>       
       <bean id="braveKnight" class="_1intro.sia.local.BraveKnight" >
       	<constructor-arg name="quest" ref="rescueDamselQuest"></constructor-arg>
       </bean>    
       <bean id="hellospring" class="main.springinaction.local.HelloSpring"></bean>
	<!-- _2wiringbean.sia.local -->
		<bean id="juggler" class=" _2wiringbean.sia.local.Juggler">
			<constructor-arg name="beanBags" value="15"></constructor-arg>
		</bean>
		<bean id="sonnet29" class="_2wiringbean.sia.local.Sonnet29"></bean>
		<bean id="poeticJuggler" class=" _2wiringbean.sia.local.PoeticJuggler">
			<constructor-arg name="poem" ref="sonnet29"></constructor-arg>
			<constructor-arg name="beanBags" value="29"></constructor-arg>
		</bean>
		
		<bean id="stage" class=" _2wiringbean.sia.local.Stage" factory-method="getInstance"></bean>
		<!-- test bean scope -->
		<bean id="beanSingleton" class="_2wiringbean.sia.local.BeanSingleton" scope="singleton"></bean>
		<bean id="beanPrototype" class="_2wiringbean.sia.local.BeanPrototype" scope="prototype"></bean>
		<bean id="auditorium" class=" _2wiringbean.sia.local.Auditorium" init-method="turnOnLights" destroy-method="turnOffLights"></bean>
		
		<!-- 2.2 Injecting into bean properties -->
		<bean id="guiter" class=" _2wiringbean.sia.local.Guiter">
			<property name="name" value="guiter"></property>
		</bean>
		<bean id="instrumentalist_wtf" class="_2wiringbean.sia.local.Instrumentalist">
			<property name="instrument" ref="guiter"></property>
			<property name="song" value="Welcome to New York"></property>
		</bean>
</beans>